In [ ]:
import tensorflow as tf
from tensorflow.keras import layers, models
import numpy as np
import pandas as pd

In [ ]:
ds = pd.read_csv('heart_data.csv')

In [ ]:
ds

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
ds.shape

(303, 14)

In [ ]:
ds.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
X = ds.drop("target",axis=1)
y = ds['target']

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2,random_state=42,shuffle=True,stratify=y)

In [ ]:
xtrain.shape

(242, 13)

In [ ]:
xtest.shape

(61, 13)

In [ ]:
X.shape[1]

13

In [ ]:
INPUT_SIZE = X.shape[1]

dnn = models.Sequential([
    layers.Dense(8,activation='relu',input_dim=13),
    layers.Dense(1,activation = 'sigmoid' )]
)

In [ ]:
labels = np.unique(ytrain)

In [ ]:
from sklearn.utils import class_weight

class_weights = class_weight.compute_class_weight(
                                        class_weight = "balanced",
                                        classes = np.unique(ytrain),
                                        y = ytrain
                                    )
classWeight = dict(enumerate(class_weights))

In [ ]:
dnn.compile(optimizer = tf.keras.optimizers.RMSprop(learning_rate=0.001),
              loss = 'mean_squared_error',
              metrics=['accuracy'])

In [ ]:
dnn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 112

 dense_1 (Dense)             (None, 1)                 9

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = dnn.fit(xtrain, ytrain, epochs=100, class_weight=classWeight)

Epoch 1/100
8/8 [==============================] - 1s 5ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 2/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 3/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 4/100
8/8 [==============================] - 0s 3ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 5/100
8/8 [==============================] - 0s 3ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 6/100
8/8 [==============================] - 0s 3ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 7/100
8/8 [==============================] - 0s 3ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 8/100
8/8 [==============================] - 0s 3ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 9/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 10/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 11/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 12/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 13/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 14/100
8/8 [==============================] - 0s 5ms/step - loss: 0.5000 - accuracy: 0.4545
Epoch 15/100
8/8 [==============================] - 0s 4ms/step - loss: 0.5000 - accuracy: 0.4545

In [ ]:
score = model.evaluate(xtest,ytest)

In [ ]:
print(f"Testing Loss {round(score[0],3)}\nTesting Accuracy {round(score[1],3)}")